.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    margin: auto;
    width: 85%;

    img {
        height: 68px;
        width: 210px;
    }
}
