.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  margin: auto;
  width: 85%;
}
.header img {
  height: 68px;
  width: 210px;
}

.navigation ul {
  display: flex;
  gap: 40px;
}
.navigation ul .nav_li {
  font-weight: 500;
  font-size: 24px;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.navigation ul .active {
  text-decoration: underline;
}

.footer {
  height: 210px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.footer img {
  height: 40px;
  width: 120px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer p {
  color: white;
}

.content_not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_not_found h1 {
  font-weight: 700;
  font-size: 290px;
  color: #FF6060;
}
.content_not_found p {
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}
.content_not_found .lien_accueil p {
  font-weight: 500;
  font-size: 18px;
  color: black;
  padding: 100px 0px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  width: 85%;
}
.banner img {
  height: 220px;
  width: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.banner .banner_text {
  position: absolute;
  margin: auto;
  font-weight: 700;
  font-size: 48px;
  color: white;
}

.gallery_home {
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 50px 0px;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.gallery_home .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
  justify-content: center;
  gap: 55px;
}
.gallery_home .card_home {
  border-radius: 25px;
  height: 340px;
  width: 340px;
  position: relative;
}
.gallery_home .card_home h2 {
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  max-width: 50%;
}
.gallery_home .card_home img {
  border-radius: 25px;
  height: 340px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collapse_content {
  width: 70%;
  margin: 25px auto 25px auto;
  position: relative;
}
.collapse_content .collapse_title {
  background-color: #FF6060;
  color: white;
  padding: 10px 20px 10px 15px;
  font-size: 24px;
  border-radius: 5px;
}
.collapse_content .collapse_div_show {
  height: 100%;
  padding: 15px;
  transition: all 0.3s;
}
.collapse_content .collapse_div_hidden {
  height: 0px;
  padding: 0px 15px;
  overflow: hidden;
  transition: padding 0.3s;
}
.collapse_content .collapse_arrow_up {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.3s;
}
.collapse_content .collapse_arrow_down {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: 0.3s;
}

.fiche_logement {
  width: 85%;
  margin: auto;
}
.fiche_logement .logement_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fiche_logement .logement_info .logement_title {
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}
.fiche_logement .logement_info .logement_location {
  font-weight: 500;
  font-size: 18px;
}
.fiche_logement .logement_info .logement_host_rating {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.fiche_logement .logement_info .logement_host_rating .logement_host {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fiche_logement .logement_info .logement_host_rating .logement_host p {
  font-size: 18px;
  color: #FF6060;
  width: 100px;
  text-align: right;
}
.fiche_logement .logement_info .logement_host_rating .logement_host img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.fiche_logement .logement_collapse {
  display: flex;
  justify-content: space-between;
  gap: 75px;
}
.fiche_logement .logement_collapse .collapse_content {
  margin: 20px auto;
}
.fiche_logement .logement_collapse .collapse_content .collapse_div_show ul li, .fiche_logement .logement_collapse .collapse_content .collapse_div_hidden ul li {
  list-style-type: none;
}

.carousel {
  margin-bottom: 10px;
  position: relative;
}
.carousel img {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.carousel .arrow_left {
  height: 80px;
  width: 45px;
  position: absolute;
  top: 170px;
  left: 10px;
  cursor: pointer;
}
.carousel .arrow_right {
  height: 80px;
  width: 45px;
  position: absolute;
  top: 170px;
  right: 10px;
  cursor: pointer;
}
.carousel .current_number {
  font-weight: 500;
  font-size: 18px;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 20px;
}

.logement_tag {
  margin: 15px 0px;
  display: flex;
  gap: 10px;
}
.logement_tag p {
  text-align: center;
  background-color: #FF6060;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.rating {
  padding-top: 15px;
}
.rating .star {
  height: 24px;
  width: 24px;
  padding: 5px;
}

@media (max-width: 767.98px) {
  .main_container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .header {
    width: 90%;
  }
  .header img {
    height: 46px;
    width: 145px;
  }
  .navigation ul {
    gap: 15px;
  }
  .navigation ul .nav_li {
    font-size: 12px;
    text-transform: uppercase;
  }
  .footer {
    gap: 15px;
  }
  .footer img {
    padding-bottom: 0px;
  }
  .footer p {
    font-size: 12px;
    max-width: 100px;
    text-align: center;
  }
  .banner {
    width: 90%;
  }
  .banner img {
    height: 110px;
    border-radius: 10px;
  }
  .banner .banner_text {
    font-size: 24px;
    padding: 10px;
  }
  .banner .banner_text span {
    display: inline-block;
  }
  .gallery_home {
    background-color: white;
    width: 90%;
    padding: 0px;
    margin: 20px auto;
  }
  .gallery_home .card_container {
    gap: 15px;
  }
  .gallery_home .card_home {
    margin: auto;
    height: 255px;
    width: 100%;
  }
  .gallery_home .card_home img {
    height: 255px;
    width: 100%;
  }
  .collapse_content {
    width: 90%;
  }
  .collapse_content .collapse_title {
    font-size: 13px;
    padding: 10px 0px 10px 10px;
  }
  .collapse_content .collapse_div_show, .collapse_content .collapse_div_hidden {
    font-size: 12px;
  }
  .collapse_content .collapse_arrow_up {
    top: 0px;
  }
  .collapse_content .collapse_arrow_down {
    top: 4px;
  }
  .content_not_found h1 {
    font-size: 96px;
    padding: 50px 0px;
  }
  .content_not_found p {
    font-size: 18px;
    text-align: center;
  }
  .content_not_found .lien_accueil p {
    font-size: 14px;
  }
  .carousel img {
    height: 255px;
    border-radius: 10px;
  }
  .carousel .arrow_right {
    height: 20px;
    width: 12px;
    top: 120px;
  }
  .carousel .arrow_left {
    height: 20px;
    width: 12px;
    top: 120px;
  }
  .carousel .current_number {
    display: none;
  }
  .fiche_logement {
    width: 90%;
  }
  .fiche_logement .logement_info {
    flex-direction: column;
    align-items: flex-start;
  }
  .fiche_logement .logement_info .logement_title {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .fiche_logement .logement_info .logement_location {
    font-size: 14px;
  }
  .fiche_logement .logement_info .logement_tag {
    font-size: 10px;
  }
  .fiche_logement .logement_info .logement_host_rating {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .fiche_logement .logement_info .logement_host_rating .rating {
    padding: 5px;
  }
  .fiche_logement .logement_info .logement_host_rating .star {
    height: 13px;
    width: 13px;
    padding: 2px 2px 2px 0px;
  }
  .fiche_logement .logement_info .logement_host_rating .logement_host p {
    font-size: 12px;
    width: 70px;
  }
  .fiche_logement .logement_info .logement_host_rating .logement_host img {
    height: 32px;
    width: 32px;
  }
  .fiche_logement .logement_collapse {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 10px;
  }
  .fiche_logement .logement_collapse .collapse_content {
    margin: 10px auto;
    width: 100%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=styles.css.map */